<app-spiner></app-spiner>

<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-icon card-header-success">
            <div class="card-icon">
              <i class="material-icons">fact_check</i>
            </div>
            <h4 class="card-title">Creación / Modificación de roles</h4>
          </div>

          <div class="card-body">
            <form [formGroup]="formularioRoles">
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="custom-input">
                    <mat-label>Nombre rol</mat-label>
                    <input formControlName="nombre_rol" matInput type="text" />
                  </mat-form-field>
                  <small class="text-error" *ngIf="validarNombreRol()">
                    {{ nombreRolError }}</small
                  >
                </div>

                <div class="col-md-6">
                  <mat-form-field class="custom-input">
                    <mat-label>Modulos</mat-label>
                    <mat-select
                      formControlName="submodulos"
                      #selectRolFocus
                      multiple
                    >
                      <mat-optgroup
                        *ngFor="let modulo of submodulo"
                        [label]="modulo.titulo"
                      >
                        <mat-option
                          *ngFor="let submodulo of modulo.submodulos"
                          value="{{ submodulo.id }}"
                        >
                          {{ submodulo.titulo }}
                        </mat-option>
                      </mat-optgroup>
                    </mat-select>
                  </mat-form-field>

                  <small class="text-error" *ngIf="validarModulo()">
                    {{ modulosError }}
                  </small>
                </div>
              </div>

              <div class="col text-center">
                <button
                  mat-raised-button
                  type="button"
                  class="btn btn-success center"
                  (click)="modoEdicion ? actualizarRol() : registrarRol()"
                >
                  {{ modoEdicion ? "Actualizar" : "Guardar" }}
                </button>
                <button
                  mat-raised-button
                  type="button"
                  class="btn btn-default center"
                  (click)="limpiarFormulario()"
                >
                  Limpiar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-success">
            <h4 class="card-title">Listado de roles</h4>
          </div>

          <div class="card-body">
            <app-data-table
              [tableData]="tablaRoles"
              [columnHeader]="encabezadosRoles"
              [estado]="estado"
              (id)="actualizarEstado($event)"
              [editDto]="editar"
              (item)="cargarRol($event)"
            >
            </app-data-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
