<app-spiner></app-spiner>

<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-success">
            <h4 class="card-title">Cambiar Contraseña</h4>
          </div>
          <div class="card-body">
            <form [formGroup]="form">
              <div class="row">
                <div class="col-md-7 offset-3">
                  <mat-form-field class="form-field-custom">
                    <input
                      [class.is-invalid]="validarPasswordCampo()"
                      [class.is-valid]="validarPasswordCampoValido()"
                      formControlName="password"
                      matInput
                      placeholder="Contraseña Actual *"
                      [type]="passVisible ? 'password' : 'text'"
                      autocomplete="off"
                    />
                    <mat-icon matSuffix (click)="passVisibleToogle(1)">{{
                      passVisible ? "visibility_off" : "visibility"
                    }}</mat-icon>
                  </mat-form-field>
                  <small class="text-error" *ngIf="validarPassword()">
                    {{ passwordError }}</small
                  >
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 offset-3">
                  <mat-form-field class="form-field-custom">
                    <input
                      [class.is-invalid]="validarPasswordNewCampo()"
                      [class.is-valid]="validarPasswordNewCampoValido()"
                      formControlName="passwordNew"
                      matInput
                      placeholder="Contraseña Nueva *"
                      [type]="passVisibleNew ? 'password' : 'text'"
                      autocomplete="off"
                    />
                    <mat-icon matSuffix (click)="passVisibleToogle(2)">{{
                      passVisibleNew ? "visibility_off" : "visibility"
                    }}</mat-icon>
                  </mat-form-field>
                  <small class="text-error" *ngIf="validarPasswordNew()">
                    {{ passwordNewError }}</small
                  >
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 offset-3">
                  <mat-form-field class="form-field-custom">
                    <input
                      [class.is-invalid]="validarPasswordConfirmCampo()"
                      [class.is-valid]="validarPasswordConfirmCampoValido()"
                      formControlName="passwordConfirm"
                      matInput
                      placeholder="Confirmar Contraseña *"
                      [type]="passVisibleConfrim ? 'password' : 'text'"
                      autocomplete="off"
                    />
                    <mat-icon matSuffix (click)="passVisibleToogle(3)">{{
                      passVisibleConfrim ? "visibility_off" : "visibility"
                    }}</mat-icon>
                  </mat-form-field>
                  <small class="text-error" *ngIf="validarPasswordConfirm()">
                    {{ passwordConfirmError }}</small
                  >
                  <small class="text-error" *ngIf="passwordSeguridadError">
                    <h6>La contraseña debe seguir las siguientes políticas:</h6>
                    <ul>
                      <li>Mínimo 8 caracteres.</li>
                      <li>Máximo 30 caracteres.</li>
                      <li>Al menos una mayúscula.</li>
                      <li>Al menos una minúscula.</li>
                      <li>Al menos un número.</li>
                      <li>No espacios en blanco.</li>
                    </ul>
                  </small>
                </div>
              </div>
              <div class="col text-center">
                <button
                  mat-raised-button
                  type="button"
                  class="btn btn-success center"
                  (click)="actualizar()"
                >
                  Actualizar
                </button>
                <button
                  mat-raised-button
                  type="button"
                  class="btn btn-default center"
                  (click)="limpiarFormulario()"
                >
                  Limpiar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
